
<span>Adres:</span> <br>
<div class="column">
    Ulica:<br>
    Numer Domue:<br>
    Numer Mieszkania:<br>
    Kod Pocztowy:<br>
    Miasto:<br>
    Kraj:<br>
</div>
<div class="column" style="width:60%">
    <input type="text" style="width:100%;" name="street" id="street" value="<%= street %>"><br>
    <input type="text" style="width:100%;" name="nr_house" id="nr_house" value="<%= nr_house %>"><br>
    <input type="text" style="width:100%;" name="nr_flat"  id="nr_flat" value="<%= nr_flat %>"><br>
    <input type="text" style="width:100%;" name="zip_code" id="zip_code" value="<%= zip_code %>"><br>
    <input type="text" style="width:100%;" name="city" id="city" value="<%= city %>"><br>
    <input type="text" style="width:100%;" name="country" id="country" value="<%= country %>"><br>
</div>
<div style="clear:both"></div>
<input type="button" onclick="adress_Edit()" value="Zapisz">
