<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

<body>
<div class="contener">
    <h1> Panel użytkownika </h1>
    <a href="/">Powrór na stronę główną</a><br>
    <a href="/logout">Wyloguj się</a>
    <div class = "subcontener">
        <div class="column">
            Dane do wysyłki: <br>
            Imię:  <br>
            Nazwisko:  <br>
            Telefon:  <br>
            <a href='/account/settings'> Edytuj </a>
        </div>
        <div class="column">
            <br>
            <%- user.name %> <br>
            <%- user.surname %> <br>
            <%- user.tel %> <br>
        </div>
        <div style="clear:both"></div>
    </div>

    <div class = "subcontener">
        <div class="column">
            Email: <br>
            <a href='/account/settings'> Zmień Dane </a>
        </div>
        <div class="column">
            <%- user.email %>
        </div>
        <div style="clear:both"></div>
    </div>



</div>
</body>


</html>