<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

    <body>
        <div class="contener">
            <h1> Zaloguj się do konta </h1><br>

            <a href="/">Powrót na stronę główną</a><br>
            Nie masz konta? <a href="<%= (returnUrl != '/') ? `/register?returnUrl=${returnUrl}`: '/register'%>">Zarejestruj się</a><br><br>

            <%= error %>
                <form method="post">
                    <!-- Uwaga Fragment Testowy -->
                    Try accessing <a href="<%= returnUrl %>">
                        <%= returnUrl %>
                    </a>, then authenticate with "tj" and "foobar".<br>
                    <!-- Koniec Fragmentu Testowego -->
                    <div class="column">
                        Email:<br>
                        Hasło:<br>
                    </div>
                    <div class="column" style="width:70%">
                        <input type="text" style="width:100%" name="login"><br>
                        <input type="password" style="width:100%" name="password"><br><br>
                    </div>
                    <div style="clear:both"></div>
                    <input type="submit" value="Zaloguj się">
                </form>


        </div>
    </body>

</html>

<!-- 
Info od Bartka:
    Tak właściwie formularz jest już ok

    formularz wysyła jedynie login i password i ma być wysyłany na dokładnie taki sam adres z jakiego jest otwierany tzn 
    /login jest ok
    /login?returnUrl=/order też jest ok

    info o ewentualnym komunikacie będę przekazywał w zmeinnej error jako Kody błędu - readme

 -->
