<!DOCTYPE html>
<html lang="en">
<%- include('./template/head') %>
<body id="body">
<%- include('./template/topbar') %>

<div class ="contener">

  <% if ( products.length == 0 ) { %>
    <div class = "main-page-title">Koszyk jest obecnie pusty.</div><br><br>
    Zapraszamy na zakupy.  
  <% } %>
  
  <% total = 0 %>

  <% for(let product of products) { 
    product.mode = 2; %>
    <%- include('./components/wide-item', product) %>
    <% total += product.quantity * product.price %>
  <% } %>

  <% if ( products.length != 0 ) { %>
    <br><br>
    Dane do wysyłki: <br><br>
    <div class="column">
      Imię:<br>
      Nazwisko:<br>
      Numer telefonu:<br>
      Email:<br>
    </div>
    <div class="column" style="width:60%">
      <%- user.name %><br>
      <%- user.surname %><br>
      <%- user.phone %><br>
     <%- user.email %><br>
    </div>
    <div style="clear:both"></div>
    <br><br>
    <div class="column">
      Ulica:<br>
      Numer domu:<br>
      Numer mieszkania:<br>
      Kod pocztowy:<br>
      Miasto:<br>
      Kraj:<br>
    </div>    
    <div class="column" style="width:60%">
      <%- adress.street %><br>
      <%- adress.nr_house %><br>
      <%- adress.nr_flat %><br>
      <%- adress.zip_code %><br>
      <%- adress.city %><br>
      <%- adress.country %><br>
    </div>
    <div style="clear:both"></div>
    <br>Całkowity koszt: <%- total %> PLN<br><br>
    <br>
  <% } %>


</div>
<div id="alert" class="alertBox"></div>
</body>
</html>