<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body id="body">
<%- include('topbar') %>

<div class ="contener">
    <% if(editable) { %>
        <form>
    <% } %>
    <div class="column" style="width:40%">
        <% if(editable) { %>
            <input type="text" name="imgurl" value="<%- imgurl %>">
        <% } %>
        <img src="<%- imgurl %>">
    </div>
    <div class="column" style="width:40%">
        <div class = "main-page-title">
            <%- id %>: 
            <% if(editable) { %>
                <input type="text" name="name" value="<%- name %>">
            <% } else { %>
                <%- name %>
            <% } %>
        </div>
        <br>
        <% if(editable) { %>
            Cena: <input type="number" name="price" value="<%- price %>">PLN
        <% } else { %>
            Cena: <%- price %>PLN
        <% } %>

        <% if(!editable) { %>
            <form>
                <input type="submit" value="Dodaj do koszyka">
            </form>
        <% } %> <br><br>
        
        <% if(editable) { %>
            <textarea rows="20" cols="50" name="desc"> <%- desc %> </textarea>
        <% } else { %>
            <%- desc %>
        <% } %><br>

        <% if(editable) { %>
            <input type="submit" value="Zapisz zmiany">
            </form>
        <% } %>
        
    </div>
    <div style="clear:both"></div>
</div>

<div class="contener">
    Polecamy również:<br><br>
    <% for( var i = 0; i < display.length; i++ ) { %> 
        <%- include('item', {href: display[i].href, name: display[i].name, price: display[i].price, imgurl: display[i].imgurl, desc: display[i].desc}) %>
        <% if( i % 4 == 3) { %>
          <div style="clear:both"></div>
        <% } %>
        <% } %>
</div>

<%- include('footer') %>
</body>
</html>