<!DOCTYPE html>
<html lang="en">
<%- include('./template/head') %>

<body>
<%- include('./template/topbar') %>

<div class="contener">
    <h1> Użytkownicy serwisu: </h1>

    <% for( var user in users ) { %>
        <div class="prodcontener" style="text-align:left ;">
            ID: <%= users[user].id %><br><%= users[user].name %> <%= users[user].surname %> <br><%= users[user].email %> <%= users[user].phone %>
        </div>
    <% } %>
</div>
</body>
</html>