<div class="prodcontener">
    <div>
        <div style="float:left" onclick="location.href=' <%= href %>';">
            <img src=" <%= imgurl %> ">
        </div>
        <div style="float:left; width: 50%; padding-top: 1em;" onclick="location.href=' <%= href %>';">
            <div class="item-list-title"> 
                <%= name %>  
            </div><br>
            <div class="item-list-desc"> 
                <%= desc %>
            </div><br>       
            <div class="item-list-title"> 
                <%= price %>zł
            </div> 
        </div>
        <div style="float:left; width: auto; padding-top: 3em;">
        <% if( !basket ) { %>
            <form>
                <input type="submit" value= "Dodaj do Koszyka">
            </form>
        <% } else { %>
            <form>
                Ilość: <input type="number" value="1">
            </form>
            <form>
                <input type="submit" value="Usuń z koszyka">
            </form>
        <% } %>
        </div>
        <div style="clear:both"></div>
    </div>
    </div>