<div class="prodcontener">
    <div onclick="location.href=' <%= href %>';">
        <div style="float:left"><img src=" <%= imgurl %> "></div>
        <div style="float:left; width: 50%; padding-top: 1em;">
            <div class="item-list-title"> 
                <%= name %>  
            </div><br>
            <div class="item-list-desc"> 
                <%= desc %>
            </div><br>       
            <div class="item-list-title"> 
                <%= price %>zł
            </div> 
        </div>
        <div style="float:left; width: auto; line-height: 200px;">
            <form>
                <input type="submit" value= "Dodaj do Koszyka">
            </form>
        </div>
        <div style="clear:both"></div>
    </div>
    </div>