<!DOCTYPE html>
<html lang="en">
<%- include('../template/head') %>
<body id="body">
  <%- include('../template/topbar') %>

  <div class="contener">
    <form method="post" action="/p">

      <div class="column" style="width:40%">
        <input type="text" name="imgurl" id="imgurl" value="<%= product.imgurl %>" oninput="change_img()">
        <img id="photo" src="<%= product.imgurl %>">
      </div>

      <div class="column" style="width:40%">
        <div class="main-page-title">
          <span id="product_id"><%= product.id %></span>:

          <input type="text" name="name" value="<%= product.name %>">
          <input type="hidden" name="id" value="<%= product.id %>">
        </div>
        <br>
        <label for="brand">Producent:</label>
        <input type="text" name="brand" value="<%= product.brand %>">
        <br>

        Cena: <input type="number" name="price" value="<%= product.price %>">zł

        <div>
          <label for="subcat_id"> Kategoria</label>
          <select name="subcat_id" id="subcat_id">
            <% let last_cat = 0; %>
            <% for(const subcat of subcats) { %>
            <% if(last_cat != subcat.cat_id) { %>
            <% if(last_cat != 0) { %>
            </optgroup>
            <% } %>
            <optgroup label="<%= cats[last_cat].id + '. ' + cats[last_cat++].val %>">
              <% } %>
              <option value="<%= subcat.id %> "><%= subcat.id + '. ' + subcat.val %> </option>
              <% } %>
            </optgroup>
          </select>
        </div>
        <br><br>
        <div id="params">
          <% for(let param in product.params) { %>
          <div> 
            <label for=" <%= param.key %>"> <%= param.key %>:</label>
            <input type="text" name=" <%= param.key %>" value="<%= param.value %>">
          </div>
          <% } %>
        </div>
        <br><br>
        <textarea rows="20" cols="50" name="desc"> <%= product.desc %> </textarea>
        <br>

        <input type="submit" value="Zapisz zmiany">
        <input type="button" value="Usuń Produkt" onclick="dell_button();">
    </form>


  </div>
  <div style="clear:both"></div>
  </div>
  </div>
  <div id="alert" class="alertBox"></div>
  <%- include('../template/footer') %>

</body>
<script src="/scripts/edit-product.js"></script>

</html>