<!DOCTYPE html>
<html lang="en">
<%- include('../template/head') %>
<body id="body">
<%- include('../template/topbar') %>
<% const editable = user_role === role.Admin; %>
<div class ="contener">
    <% if(editable) { %>
        <form method="POST" action="/p">
    <% } %>
    <div class="column" style="width:40%">
        <% if(editable) { %>
            <input type="text" name="imgurl" value="<%- product.imgurl %>">
        <% } %>
        <img src="<%- product.imgurl %>">
    </div>
    <div class="column" style="width:40%">
        <div class = "main-page-title">
            <%- product.id %>: 
            <% if(editable) { %>
                <input type="text" name="name" value="<%- product.name %>">
            <% } else { %>
                <%- product.name %>
            <% } %>
        </div>
        <br>
        <% if(editable) { %>
            Cena: <input type="number" name="price" value="<%- product.price %>">PLN
        <% } else { %>
            Cena: <%- product.price %>PLN
        <% } %>

        <% if(!editable) { %>
            <form>
                <input type="submit" value="Dodaj do koszyka">
            </form>
        <% } %> <br><br>
        
        <% if(editable) { %>
            <textarea rows="20" cols="50" name="desc"> <%- product.desc %> </textarea>
        <% } else { %>
            <%- product.desc %>
        <% } %><br>
        <% for(let param of product.params) { %>
            <div> <%= param.key %>: <%= param.value %> </div>
        <% } %>

        <% if(editable) { %>
            <!-- Formularz zapisujący wysyłamy postem wysyła wszystkie info o produkcie jakie dostaje -->
            <!-- Jeśli chcemy umożliwiać zmianę kategorii produktu to potrzebujemy żeby ajax zacztywał nazwy kategorii, a potem po wybraniu właściwej doczytywał jej parametry  
            
            Przy zapisie dla admina trzeba wyłapytać errory czy zostało zapisane pomyślnie-->

            <input type="submit" value="Zapisz zmiany">
            </form>
        <% } %>
        
    </div>
    <div style="clear:both"></div>
</div>

<div class="contener">
    Polecamy również:<br><br>
    <% for(i in recommended) { 
        recommended[i].mode = 0; %>
        <!-- do zmiany z wide-item na item dodałem tak bo wide-item ma już poprawnie zdefiniowane zmienne -->
        <%- include('../components/item', recommended[i]) %>
        <% if ( i%4 == 3 ) { %>
            <div style="clear:both"></div>    
        <% } %>
    <% } %>
</div>
<%- include('../template/footer') %>
</body>
</html>