<!DOCTYPE html>
<html lang="en">
<%- include('../template/head') %>

<body id="body">
  <%- include('../template/topbar') %>

  <div class="contener">
    <%- include('../components/link.ejs', subcat_info)  %> 
    <div class="column" style="width:40%">
      <img src="<%= product.imgurl %>">
    </div>

    <div class="column" style="width:40%">
      <div class="main-page-title">
        <%= product.name %>
      </div>
      <div style="font-size: medium;">
        Producent: <%= product.brand %>
      </div>
      <div style="text-align: right; font-size: x-large;">
        Cena: <%= product.price %>zł
      </div>
      <div style="text-align: right;">
        <input type="number" name="quantity" id="quantity" value=1 style="width:30px;">
        <input type="submit" value="Dodaj do koszyka" onclick="Add_to_basket()">
      </div>
      <div id="params" style="margin: 30px 0;">
        <% for(var p in product.params) { %>
        <div> <%= product.params[p].key %>: <%= product.params[p].value %> </div>
        <% } %>
      </div>

      <%- product.desc %>
      <input type="hidden" id="product_id" value="<%= product.id %>">

    </div>
    <div style="clear:both"></div>
  </div>
  </div>

  <div class="contener">
    Polecamy również:<br><br>
    <% for(i in recommended) { 
        recommended[i].mode = 0; %>
    <%- include('../components/item', recommended[i]) %>
    <% if ( i%4 == 3 ) { %>
    <div style="clear:both"></div>
    <% } %>
    <% } %>
  </div>
  <%- include('../template/footer') %>

  <div id="alert" class="alertBox"></div>
</body>


<script src="/scripts/product.js"></script>

</html>