<!DOCTYPE html>
<html lang="en">
<%- include('../template/head') %>
<link href="/stylesheets/role.css" rel="stylesheet" />
<body>
<div class ="contener"> 
    Witaj <%- name %> <%- surname %>. <br><br>
    Wybierz rolę z której chcesz skorzystać:<br><br>
    
    <form method="post">
        <% if(active[role.Admin]) {%> 
            <div class="input-group">
                <label for="Admin">Administrator</label>
                <input type="radio" name="user_role" id="Admin" value=" <%= role.Admin %>">
            </div>
        <% } %> 
        <% if(active[role.Seller]) {%> 
            <div class="input-group">
                <label for="Seller">Sprzedawca</label>
                <input type="radio" name="user_role" id="Seller" value=" <%= role.Seller %>"> 
        </div>
        <% } %> 
        <% if(active[role.Customer]) {%> 
            <div class="input-group">
                <label for="Customer">Klient</label>
                <input type="radio" name="user_role" id="Customer" value=" <%= role.Customer %>"> 
            </div>
        <% } %> 
        <div class="input-group">
            <input type = "submit" value="Zatwierdź">
        </div>
    </form>
</div>
</body>
</html>