<!DOCTYPE html>
<html lang="en">
<%- include('../head') %>

<body>
    <div class ="contener"> 
        Witaj <%- name %> <%- surname %>. <br><br>
        Wybierz rolę z której chcesz skorzystać:<br><br>
        
        <form method="post">
            <div style="text-align: left; padding-left: 30%;">
                <% if(active[role.Admin]) {%> 
                    <input type="radio" style="width:100%;" name="user_role" id="Admin" value=" <%= role.Admin %>"> 
                    <label for="html">Administrator</label><br> 
                <% } %> 
                <% if(active[role.Seller]) {%> 
                    <input type="radio" style="width:100%;" name="user_role" id="Seller" value=" <%= role.Seller %>"> 
                    <label for="html">Sprzedawca</label><br> 
                <% } %> 
                <% if(active[role.Customer]) {%> 
                    <input type="radio" style="width:100%;" name="user_role" id="Customer" value=" <%= role.Customer %>"> 
                    <label for="html">Klient</label>
                <% } %> 
            </div>
            <br>
            <input type = "submit" value="Zatwierdź">
        </form>
    </div>
</body>
</html>