<div class="filter-bar">
    <form method="get">
        Filtry <br><br>

        Sortowanie: 
        <select name="sort_by">
            <option value="<%= sort_opt.price_asc %>"   <% if(sort_by == sort_opt.price_asc) {%> selected="selected" <% } %> >Cena rosnąco</option>
            <option value="<%= sort_opt.price_desc %>"  <% if(sort_by == sort_opt.price_desc) {%> selected="selected" <% } %>>Cena malejąco</option>
            <option value="<%= sort_opt.name_asc %>"    <% if(sort_by == sort_opt.name_asc) {%> selected="selected" <% } %>>Alfabetycznie rosnąco</option>
            <option value="<%= sort_opt.name_desc %>"   <% if(sort_by == sort_opt.name_desc) {%> selected="selected" <% } %>>Alfabetycznie malejąco</option>
        </select>

        Ilość elementów na stronie:
        <select name="per_page">
            <option value="15" <% if(15 == per_page) {%> selected="selected" <% } %>>15</option>
            <option value="30" <% if(30 == per_page) {%> selected="selected" <% } %>>30</option>
            <option value="45" <% if(45 == per_page) {%> selected="selected" <% } %>>45</option>
        </select>

        Cena:<br>
        Od: <input type="number" name="price-min">
        Do: <input type="number" name="price-max">
        Producent: 
        <input type="text" name="producer">

        <% for(filter of filters) { %>
            <%= filter.name %> <br>

            <% if( filter.type == "enum") { %>
                <% for( opt of filter.options ) { %>
                    <input type="checkbox" id="<%= opt.name+filter.name %>" name="<%= filter.name %>" value="<%= opt.name %>">
                    <label for="<%= opt.name+filter.name %>"><%= opt.name %></label><br>
                <% } %>
            <% } else { %>
                Od: <input type="number" name="<%= filter.name+'-min' %>"><br>
                Do: <input type="number" name="<%= filter.name+'-max' %>"><br>
                
            <% } %>
        <% } %>   
        <input type="hidden" name="search" value="<%= search %>">
        <br><input type="submit" value = "Filtruj">
    </form>
  </div>