<!DOCTYPE html>
<html lang="en">
<%- include('../template/head') %>
<body id="body">
<%- include('../template/topbar') %>

<div class ="contener">
    <!-- kategoria -> subkategoria -> subsubkategoria -->
    <!-- <%= JSON.stringify(subcat_info) %> -->
    <!-- {"category_id":1,"category_name":"Podzespoły","id":"5","name":"Dyski"}  -->
    <div style ="padding-left:4em; text-align: left;">
        <%= subcat_info.category_name %> \ <%= subcat_info.name %> <br>
    </div>

    <!-- Nazwa Kategorii -->
    <%- include('filters') %> 

    <% for(let product of products) { 
        product.mode = 0; %>
        <%- include('../components/wide-item', product) %>
    <% } %>
  <div style="clear:both"></div>
</div>
<div id="alert" class="alertBox"></div>

</body>
<script src="/scripts/category.js"></script>
</html>